<form action="/admin/users" method="POST">
    <input class="user-input-listing" type="text" class="form-control" name="email" placeholder="Email">
    <input class="user-input-listing" type="password" class="form-control" name="password" placeholder="Password">
    <button align="right" type="submit" class="btn btn-grey">Sign In</button>
</form>
