<form action="/user" method="POST">
    <input class="user-input-listing" type="text" class="form-control" name="name" placeholder="Name">
    <input class="user-input-listing" type="text" class="form-control" name="email" placeholder="Email">
    <input class="user-input-listing" type="password" class="form-control" name="password" placeholder="Password">
    <button align="right" type="submit" class="btn btn-grey">Submit</button>
</form>
