<h3>Update User</h3>
<form method="post" action=<%= "/api/users/:id" + user._id + "?_method=PATCH" %> >
  <div class="form-group col-md-4">
    <input type="text" class="form-control" name="name" placeholder="Name">
  </div>
  <div class="form-group col-md-4">
    <input type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-group col-md-4">
    <input type="text" class="form-control" name="password" placeholder="Password">
  </div>
  <div class="form-group col-md-4">
    <input type="text" class="form-control" name="type" placeholder="Type">
  </div>
  <div class="form-group col-md-4">
    <input type="hidden" name="id" value="<%= user.id %>">
    <button type="submit" class="btn btn-primary col-md-12">Update</button>
  </div>

</form>
