<div align="center">
        <form action="/submit" method="post">
            <br>
            <input type="string" name="title" placeholder="Listing Name" id="title">
            <br>
            <br>
            <input type="string" name="location" placeholder="Address" id="location">
            <br>
            <br>
            <input type="string" name="url" placeholder="Listing url" id="url">
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>
