<div align="center">
  <form action="/submit" method="post">
    <div class="form-group">
      <input type="string" name="title" id="title" class="form-control public-submission" placeholder="What's the name of this awesome place?">
    </div>
    <div class="form-group">
      <input type="string" name="location" id="location" class="form-control public-submission" placeholder="What's the address?">
    </div>
    <div class="form-group public-submission">
      <select class="form-control">
        <option value="0" selected>Select Category</option>
        <option value="1">Food</option>
        <option value="2">Groceries</option>
        <option value="3">Leisure</option>
        <option value="4">Medical</option>
        <option value="4">Services</option>
      </select>
    </div>
    <div class="form-group">
      <input type="string" name="url" id="website" class="form-control public-submission" placeholder="Any website?">
    </div>
    <div class="form-group">
      <button style="width:100%; border-radius: 5px;" type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
  </form>


</div>
