@mixin font-awesome { @include text-shadow(none); -webkit-font-smoothing: antialiased; font-family: 'fontawesome'; speak: none; font-weight: normal; font-variant: normal; line-height: 1; text-transform: none; }

@mixin shadow { @include box-shadow(0 1px 1px 0 rgba(0,0,0,.05)); }

@mixin shadow-inner { @include box-shadow(inset 0px 1px .5px rgba(0,0,0,.15));
  &:hover { @include box-shadow(inset 0 1px .5px 0 rgba(0,0,0,.18)); }
  &:focus, &:active { @include box-shadow(inset 0 1px .5px 0 rgba(0,0,0,.2)); }
}

@mixin rounded-border { @include border-radius(0px); }

@mixin border-color { border: 2px solid rgba(0,0,0,.08);
  &:hover { border: 2px solid rgba(0,0,0,.15); }
  &:active, &:focus { @include box-shadow(none); border: 2px solid rgba(0,0,0,.18); }
}

@mixin circle-button { @include border-radius(50%); border-color: rgba(0,0,0,.1); border-width: 2px; border-style: solid; display: block; line-height: 26px; height: 30px; width: 30px; text-align: center;
  &:hover { border-color: rgba(0,0,0,.2); }
  i {  }
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@mixin image-gradient {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}


@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -ms-animation-name: $name;
  animation-name: $name;
}

@mixin animation-duration($name) {
  -webkit-animation-duration: $name;
  -moz-animation-duration: $name;
  -ms-animation-duration: $name;
  animation-duration: $name;
}