$color-default: #ff513f;

$color-default-darker: darken($color-default, 30%);
$color-grey-dark: #474747;
$color-grey-medium: #8d8d8d;
$color-grey-light: #f4f4f2;
$color-green: #77ad10;

$color1: #998675;
$color2: #f7941d;
$color3: #1fadc2;
$color4: #5fc251;
$color5: #ec504c;
$color6: #f5ec55;
$color7: #a1a1a1;
$color8: #c939e4;