#page-footer { display: table-row; background-color: #fff; border-top: 2px solid $color-grey-light; height: 1px; margin-top: 30px; padding-top: 50px; position: relative;
  .inner { padding-top: 60px; //display: table; width: 100%;
    address {
      figure { margin-top: 20px; }
    }
    article { margin-bottom: 30px; }
    p { font-size: 12px; }
    .subscribe { background-color: transparent; padding: 0;
      input { font-size: 14px; }
      .input-group-btn {
        button { background-color: darken($color-grey-light, 5%); font-size: 14px;
          i { color: $color-default; margin-left: 0; }
        }
      }
    }
    .footer-bottom { border-bottom: 2px solid $color-default; border-top: 1px solid rgba(0,0,0,.08); margin-top: 20px; padding: 30px;
      .left { float: left; line-height: 30px; }
      .right { float: right; }
      .to-top { @include border-radius(50%); border: 2px solid $color-default; display: block; font-size: 18px; height: 30px; line-height: 22px; position: relative; text-align: center; width: 30px;
        &:hover { cursor: pointer; }
        i { color: $color-default; left: 0px; position: relative; }
      }
    }
  }
  .item-horizontal { border: none; margin-bottom: 40px; padding: 0;
    &:last-child { border-bottom: none; }
  }
  .review {  margin-bottom: 40px;
    &:last-child { border-bottom: none; }
    p { margin-top: 5px; }
    .info { margin-top: 5px;
      .rating { float: left; }
      .type { margin: 3px; }
    }
  }
  .social { margin-bottom: 20px;
    a { display: inline-block; margin-bottom: 0;
      i { color: $color-grey-dark; margin-right: 5px; }
    }
  }
}

// Sticky footer

#page-content { height: auto; }
#outer-wrapper, #inner-wrapper, #page-canvas { display: table; height: 100%; width: 100%; }
#inner-wrapper { @include transition(.4s ease-in-out all); left: 0; position: relative; }
